.jumbotron {
  text-align: center;
  margin: 5% auto;
  /* margin-left: 43%; */
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}

.jumbotron p {
  font-size: 48px;
}

.jumbotron button {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

td {
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid black;
  font-size: 100px;
}

table {
  margin: auto auto;
}

#top-left {
  border-left: none;
  border-top: none;
}

#top-middle {
  border-top: none;
}

#top-right {
  border-right: none;
  border-top: none;
}


#left {
  border-left: none;
}

#right {
  border-right: none;
}

#bottom-left {
  border-left: none;
  border-bottom: none;
}

#bottom-middle {
  border-bottom: none;
}

#bottom-right {
  border-right: none;
  border-bottom: none;
}